.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.intro {
  max-width: 1040px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: visible;
}

.body {
  clear: left;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  font-family: Apercupro, sans-serif;
  line-height: 1px;
}

.text-36-extrabold {
  justify-content: center;
  margin-bottom: .5em;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5em;
  display: flex;
}

.text-24px-bold-allcap {
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: .5em;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
}

.text-16px-regular {
  max-width: 100%;
  text-indent: -.5px;
  margin-top: 1em;
  margin-bottom: .5em;
  font-family: Apercupro, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35em;
}

.process-wrap {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  margin-bottom: 60px;
  padding-right: 0;
  display: flex;
}

.paragraph {
  padding-bottom: 40px;
  display: block;
}

.right-column-detail {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.right-column-group {
  margin-top: 20px;
}

.text-14px-bold {
  text-indent: -.5px;
  margin-top: 1em;
  margin-bottom: .25em;
  font-family: Apercupro, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.35em;
}

.into-left-column {
  max-width: 73%;
}

.section-grey-1-column {
  background-color: #23263c;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
}

.columns {
  max-width: 1040px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.text-w-24px-extrabold-allcap {
  color: #fff;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5em;
}

.text-w-16px-regular {
  color: #fff;
  text-align: left;
  text-indent: -.5px;
  margin-top: 1em;
  margin-bottom: .5em;
  font-family: Apercupro, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35em;
}

.section-blue {
  background-color: #23263c;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.column {
  align-self: flex-start;
  padding-left: 0;
  padding-right: 0;
}

.section-process-overview {
  background-color: #f7f7f7;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
}

.process-overview-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column dense;
  justify-content: space-between;
  display: grid;
}

.text-16px-bold-underline {
  text-indent: -.5px;
  margin-top: 1em;
  margin-bottom: .5em;
  font-family: Apercupro, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.35em;
  text-decoration: underline;
}

.text-14px-regular {
  text-indent: -.5px;
  margin-bottom: .25rem;
  font-family: Apercupro, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35em;
}

.process-overview-module {
  justify-content: flex-start;
}

.column-2, .column-3 {
  padding-left: 0;
  padding-right: 0;
}

.text-16px-bold {
  max-width: 100%;
  text-indent: -.5px;
  margin-top: 1em;
  margin-bottom: .5em;
  font-family: Apercupro, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.35em;
}

.process_content {
  max-width: 1040px;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.container {
  max-width: 1040px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: visible;
}

.image-content {
  outline-offset: 0px;
  border-radius: 10px;
  outline: 1px #ececec;
  margin-top: 20px;
  margin-bottom: 100px;
}

.process-wrap_bg {
  max-width: 1040px;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.line-full {
  height: .5px;
  background-color: #d0d0d0;
}

.image-content-w {
  width: 100%;
  max-width: 100%;
  border: 1px solid #f3f3f3;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.usabilitytesting {
  background-color: #23263c;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 0;
  display: flex;
}

.section_deliver---design-system {
  background-color: #f6f6f6;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 0;
  display: flex;
}

.image-ui {
  max-width: 70%;
  margin-top: 0;
  margin-bottom: 0;
}

.ui-design-l {
  max-width: 1040px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  align-items: center;
  display: flex;
}

.ui-content {
  max-width: 100%;
  align-self: center;
}

.ui-content_wrap {
  max-width: 1040px;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  margin-top: 120px;
  display: flex;
}

.ui-wrap {
  max-width: 1040px;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.section_deliver-body {
  background-color: #f6f6f6;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 100px;
  display: flex;
}

.image-7 {
  margin-top: 60px;
  margin-bottom: 100px;
}

.list-16px-bold-dark {
  color: #f3f3f3;
  padding-left: 0;
  font-weight: 700;
}

.column-5, .column-7, .column-10, .column-11, .column-13, .column-14, .column-18, .column-19, .column-20, .column-21, .column-22, .column-24, .column-25, .column-26 {
  padding-left: 0;
  padding-right: 0;
}

.div-block-10 {
  min-height: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-8 {
  border-radius: 10px;
  margin-bottom: 20px;
}

.html-embed {
  margin-top: 20px;
  margin-bottom: 100px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .08);
}

.container-no-top-margin {
  max-width: 1040px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: visible;
}

.process_content-white {
  max-width: 1040px;
  color: #f6f6f6;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.ui-content-r {
  max-width: 1040px;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  margin-top: 120px;
  display: flex;
}

.container-dark {
  max-width: 1040px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: visible;
}

.text-16px-regular-dark {
  max-width: 100%;
  color: #f6f6f6;
  text-indent: -.5px;
  margin-top: 1em;
  margin-bottom: .5em;
  font-family: Apercupro, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35em;
}

.text-16px-bold-dark {
  max-width: 100%;
  color: #f6f6f6;
  text-indent: -.5px;
  margin-top: 1em;
  margin-bottom: .5em;
  font-family: Apercupro, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.35em;
}

.text-24px-bold-allcap-dark {
  color: #f6f6f6;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: .5em;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
}

@media screen and (max-width: 991px) {
  .text-24px-bold-allcap {
    margin-top: 10px;
  }

  .paragraph {
    display: block;
  }

  .text-w-24px-extrabold-allcap, .text-w-16px-regular, .text-24px-bold-allcap-dark {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .intro {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container, .container-no-top-margin, .container-dark {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#w-node-_414ddad8-5f4e-57a8-8ef9-b0680486193b-5f55825e, #w-node-_2cb822f0-9e37-e51c-6c5f-4461b5715271-5f55825e, #w-node-_2ef467ec-fd46-1551-19e4-059840604835-5f55825e, #w-node-_8547136d-a81c-1547-24e1-f698eb4453dc-5f55825e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype'), url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercupro mono';
  src: url('../fonts/ApercuPro-Mono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercupro';
  src: url('../fonts/ApercuPro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Apercupro';
  src: url('../fonts/ApercuPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercupro';
  src: url('../fonts/ApercuPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercupro';
  src: url('../fonts/ApercuPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}